.App {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
  border: 4px solid rgb(116, 12, 109);
  padding: 10px;
  text-align: center;
}
.loading {
  font-weight: bold; /* Жирный стиль */
  font-style: italic; /* Курсивный стиль */
  font-size: 2rem
}
.error {
	font-weight: bold; /* Жирный стиль */
  font-style: italic; /* Курсивный стиль */
  font-size: 2rem;
  background-color: rgb(218, 66, 66);
}
